*config.json
!bsconfig.json
*/venv/*
ec2.json
*credentials.json
token.pickle
.merlin
lib
scripts/o1-discord-api-key
scripts/o1-google-cloud-storage-api-key.json

scripts/offline_fish_keys
scripts/offline_whale_keys
scripts/online_fish_keys
scripts/online_whale_keys
scripts/service_keys
scripts/genesis_ledger.json
scripts/annotated_ledger.json

Digraph.gv
Digraph.gv.png
**/__pycache__/**

nightly-logs
